* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    list-style: none;
}


/* nav styles */


.nav {
    display: flex;
    justify-content: space-between;
}

.navsection {
    align-items: center;
}

.navicon {
    width: 86.041px;
    height: 40px;

}

.navsection {
    display: flex;
    gap: 20px;
}

.navtitle {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.pinktext {

    color: #FF42A5;
}



 
.navbar{
    display: flex;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    align-items: center;
}

.navbar li {
    display: flex;
    gap: 5px;
}